<!DOCTYPE html>
<html lang="en">

<head>
  <div class="container-fluid">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>TinyApp</title>
</head>

<body>
  <div style="margin: auto;">
    <h1> TINY APP </h1>
<h5> A URL shortener </h5>
    <% include partials/_header %>
      <p style="margin: 30px 0px 30px 0px">
        <a href="<%= urls[shortURL].longURL %>">
          <%= shortURL %>
        </a> -
        <%= urls[shortURL].longURL %>
      </p>
      <form action="/urls/<%= shortURL %>" method="POST">
        <label for="newLongURL">Enter the new URL for
          <%= shortURL %>:</label>
        <input class="form-control" id="longURL" type="text" name="newLongURL" placeholder="<%= urls[shortURL].longURL %>">
        <button type="submit" class="btn btn-primary">Edit</button>
      </form>
      <% if (user_id) { %>
        <p><a href="/urls/new"> Short another one! </a></p>
        <% } else {%>
          <p> Log in/Register to shorten a URL</p>
          <% } %>
            <p> <a href="/urls"> Back to URLs </a> </p>
  </div>
</body>
</div>

</html>