<!DOCTYPE html>
<html lang="en">

<head>

  <div class="container-fluid">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>TinyApp</title>
</head>

<center>
  <div style="margin: auto;">
  <h1> TINY APP </h1>
<h5> A URL shortener </h5>
    <% include partials/_header %>
      <table class="table table-hover" style="width: 300px; text-align: center; vertical-align: middle; margin-top:40px;">
        <thead>
          <tr>
            <% if (user_id) { %>
              <th colspan="4"> URLs </th>
        <% } else {%>
          <% } %>
          </tr>
        </thead>
        <tbody>
          <% for (var url in urls) { %>
            <tr>
              <td>
                <a href="/urls/<%=url%>">
                  <%= url %>
                  </a>
              </td>
              <td>
                <%= urls[url].longURL %>
              </td>
              <td>
                <form method="POST" action="/urls/<%= url %>/?_method=DELETE">
                  <input class="btn btn-outline-dark" type="submit" value="DELETE"></input>
                </form>
              </td>
              <td>
                <form method="GET" action="/urls/<%= url %>/edit">
                  <input class="btn btn-outline-dark" type="submit" value="EDIT"></input>
                </form>
              </td>
              <td>
                Visits: <%= urls[url].count %>
              </td>
            </tr>
            <% }; %>
        </tbody>
      </table>
      <% if (user_id) { %>
        <p><a href="/urls/new"> SHORT URL </a></p>
        <% } else {%>
          <% } %>
  </div>
</center>
</div>


</html>