<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div id="wrapper">
  <% include partials/_header %>
  <table>
    <tr><th colspan="4"> URLs </th></tr>
    <% for (var url in urls) { %>
    <tr>
    <td><a href="/urls/<%=url%>"> <%= url %></a></td>
    <td><%= urls[url] %></td>
    <td><form method="POST" action="/urls/<%= url %>/delete"><input class="button" type="submit" value="DELETE"></input></form></td>
    <td><form method="GET" action="/urls/<%= url %>/edit"><input class="button" type="submit" value="EDIT"></input></form></td>
    </tr>
    <% }; %>
  </table>
    <p><a href="/urls/new"> Shorten another URL </a></p>
    <p><a href="/register"> REGISTER HERE </a></p>
  </div>
</body>
</html>